body {
  color: rgba(135, 126, 126, 1);
}
h1,h2,h3,h4,h5,h6 {
  color: rgba(135, 144, 169, 1);
  text-align: center;
}
a, a:visited {
  color:#C79D9D;
}
a:visited {
  color:#C79D9D;
}
ul {
  list-style-type: none;
}
div.divider {
  border-bottom: 3px dotted #eee;
}
.bdr-grey {
  border-left: 3px dotted #eee;
}
.bk-blue {
  background-color: rgba(59, 62, 70, .9);
  color:#ccc;
}
.header-block {
  padding:33px 0;
  margin-bottom: 20px;
}
.jumbotron  {
  text-align: center;
  text-transform: uppercase;
  color: rgba(125, 116, 116, 1);
  margin-bottom: 0;
}
 .jumbotron strong, .jumbotron em {
  color: rgba(135, 126, 126, 1);
 }
 .jumbotron em{
   font-weight: 500;
 }
.jumbotron h3,.jumbotron h1 {
  color:#6D728C;
}
.work {
  text-align: center;
}
.work div.row {
  border-bottom: 3px dotted #eee;
}
.work ul {
  line-height: 2;
  padding-left: 0;
}
.about {

}
.about-icon img{
  border: 3px solid #eee;
  background-color: rgba(189, 157, 157, 0.32);;
  border-radius: 1000px;
}

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .jumbotron img {
    display: block;
    margin: 0 auto;
  }
 }
